<!-- File Name :- footer.ejs
    Student Name :- Dinesh Palle
    Student ID :- 300705307
    Date :- 16-2-19 -->

 <!--Javascript Section-->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>
</html>