<!-- File Name :- index.ejs
    Student Name :- Dinesh Palle
    Student ID :- 300705307
    Date :- 16-2-19 -->

<% include ./partials/header.ejs %>


  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %></h1>
        
        <% if (title == "Home") { %>
          <h1>Thank you for visiting my Portfolio</h1>
          <br>

          <p><b>Mission Statement : </b>My mission is to pursue a career in front-end web development.</p>
          <br>
          <a>Click this button to navigate to the About page. </a><a class="btn btn-primary" href="/about" role="button">About Page</a><br><br>
          <a>Click this button to navigate to the Projects page. </a><a class="btn btn-primary" href="/projects" role="button">Projects Page</a><br><br>
          <a>Click this button to navigate to the Services page. </a><a class="btn btn-primary" href="/services" role="button">Services Page</a><br><br>
          <a>Click this button to navigate to the Contact page. </a><a class="btn btn-primary" href="/contact" role="button">Contact Page</a><br><br>

        <% } %>

        
        <% if (title == "About") { %>

        <h1>Name :- Dinesh Prasad Palle</h1>
        <br>
        <br>
        <img src="/Assets/images/MyPic.jpg" alt="My Picture" width="300" >
        <br>
        <br>
        <p><b>Resume :- </b> <a href ="/Assets/resume/resume.pdf">Click here for my Resume.</a></p>
         
          

        <% } %>


        <% if (title == "Projects") { %>

        <h1>My top 3 Projects</h1>
        <br>
        <% include ./partials/content.ejs %>

        <% } %>


        <% if (title == "Services") { %>
        <img src="/Assets/images/Services.gif" alt="Services" width="500" align="right" hspace="50"  >
        <h3>The services that I provide are :-</h3>
                <ul>
                    <li>Java</li>
                    <li>C#</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Android</li>
                    <li>Java Script</li>
                    <li>Oracle 12c</li>
                    <li>Photoshop</li>
                    <li>Unix/Linux</li>
                    <li>ASP.NET</li>
                    <li>PHP</li>
                </ul>
          

        <% } %>


        <% if (title == "Contact") { %>

        <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-7">
                <h2>Contact Form</h2>
                <form class="form" method="POST">
                <div class="form-group">
                    <label for="FirstNameTextField">First Name</label>
                    <input type="text" class="form-control" 
                    id="FirstNameTextField" 
                    placeholder="Enter First Name"
                    name="firstName"
                    required>
                </div>

                <div class="form-group">
                    <label for="LastNameTextField">Last Name</label>
                    <input type="text" class="form-control" 
                    id="LastNameTextField" 
                    placeholder="Enter Last Name"
                    name="lastName"
                    required>
                </div>

                <div class="form-group">
                    <label for="ContactNumberTextField">Contact Number</label>
                    <input type="text" class="form-control" 
                    id="ContactNumberTextField" 
                    placeholder="Enter Contact Number"
                    name="contactNumber"
                    required>
                </div>

                <div class="form-group">
                    <label for="EmailAddressTextField">Email Address</label>
                    <input type="text" class="form-control" 
                    id="EmailAddressTextField" 
                    placeholder="Enter Email Address"
                    name="emailAddress"
                    required>
                </div>

                <div class="form-group">
                    <label for="MessageTextField">Message</label>
                    <input type="text" class="form-control" 
                    id="MessageTextField" 
                    placeholder="Enter Message"
                    name="message"
                    required>
                </div>

                <button type="submit" class="btn btn-primary">
                <i class="fas fa-edit"></i> Submit</button>
                <a href="/" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>

                
            </div>
        </div>
    </div>

    <hr>

    <h4>My Contact Information</h4>
    <p>Name :- Dinesh Palle</p>
    <p>Address :- 1234 Town Road, Hyderabad.</p>
    <p>Phone Number :- 9876543210</p>
    <p>Email Address :- MyEmail@YourGmail.com</p>



          
        <% } %>
      </div>
  </div>

<% include ./partials/footer.ejs %>
 
